<div class="ContainerVideoPlayer col-xs-12 col-sm-6 col-md-12 col-lg-12">
	<h2 class="ContainerVideoPlayer-title" id="numberVideoPlayList">Current Playlist [{{sizePlaylist}}]</h2>
	<div id="ContainerVideoPlayer-jwplayer">
		<div id="jwPlayer"></div>
	</div>
	<div class="ContainerVideoPlayer-controls">
		<a href="javascript:void(0)" class="IconPrev" data-ng-click="prevVideo()"><span></span></a> 
		<a href="javascript:void(0)" class="IconNext" data-ng-click="nextVideo()"><span></span></a> 
		<a href="javascript:void(0)" class="IconCleanList" data-ng-click="cleanPlaylist()"><span></span></a> 
		<div class="clear"></div>
	</div>
</div>