.ContainerGlobal{
	position: absolute;
	width: 100%;
	background-image: url('../img/bg.png');
	padding: 0;
	height: 100%;
}

/*----------Header----------*/
.ContainerHeader{
	@heightHeader: 60px;
	width: 100%;
	padding: 5px;
	overflow: visible;
	background-image: url('../img/bg-dark.png');
	height: @heightHeader;
	max-height: @heightHeader;
	min-height: @heightHeader;
}

.ContainerTitleApp{
	height: 100%;

	>a{
		display: inline-block;
		height: 100%;

		img{
			height: 100%;
			width: auto;
		}
	}
}

.ContainerUserMenuDropdown{
	height: 100%;
	padding-right: 0;

	>ul{
		margin: 0;
		padding: 0;
		height: 100%;
		float: right;
		background-color: inherit;

		>li{
			background-color: inherit;
			padding: 0;

			>a{
				padding: 0 5px;
				margin: 0;
				height: 100%;
				background-color: inherit !important; //Voleo De Rula
				border: none;
				display: block;

				&:hover{
					background-color: inherit;
				}

				>img{
					height: 100%;
					.border-radius(100%);
					.box-shadow(0 0 4px 1px #555);
					padding: 2px;
					border: 2px solid @colorLightBlue;
					width: 50px;	

					&:hover{
						.opacity(0.9);
					}
				}
			}

			//Menu que aparece y desaparece
			>ul{
				>.divider{
					margin: 4px 0;
				}

				>li{
					>a{
						padding: 5px;

						&:hover{
							background-color: #dcdcdc;
						}
					}
				}
			}
		}
	}
}

/*----------FIN Header----------*/



/*----------Contenedor con el contenido (2 columnas)----------*/
.ContainerContent{

}

/*----------Columna 1: Contenedor con la lista de reproduccion----------*/
.ContainerPlaylist{
	padding: 10px;
}

.ContainerVideoPlayer{
	padding:0;

	&-title{
		text-align: center;
		text-transform: uppercase;
		display: block;
		background-color: @colorBgVideoItemPlaylist;
		margin: 0;
		padding: 5px;
		font-size: @fontSizeLarge;
		min-height: 36px;
		max-height: 36px;
		border:1px solid @colorBorderVideoItemPlaylist;
	}

	&-controls{
		background-color: @colorBgVideoItemPlaylist;
		padding:6px 5px;
		text-align: center;
		border:1px solid @colorBorderVideoItemPlaylist;
		min-height: 36px;
		max-height: 36px;
		>a{
			display: inline-block;
			>span{
				&:hover{
					.opacity(0.6);
				}
			}
		}
	}
}

#ContainerVideoPlayer-jwplayer{
	background-color: @colorBgVideoItemPlaylist;
	border:1px solid @colorBorderVideoItemPlaylist;

	>div{
		width: 100%;
		height: 100%;
		display: block;

		>p{
			display: none !important;  //Voleo de rula
		}
	}
}

.ContainerVideoItemsPlaylist{
	padding:0px;
	height: 210px;
	position: relative;   

}

.ContainerVideoItemPlaylist{
	.transition(background 1s ease);
	overflow: hidden;
	border: 1px solid @colorBorderVideoItemPlaylist;
	border-left: 5px solid #333;
	background-color: @colorBgVideoItemPlaylist;
	cursor: pointer;
	position: relative;

	&:hover{
		.HoverEfectVideoItemPlaylist();
	}

	&:last-child{
		margin-bottom: 0;
	}

	&-number{
		float: left;
		width: 8%;
		height: 70px;
		text-align: center;

		>p{
			font-size: @fontSizeLarge;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&-picture{
		float: left;
		width: 20%;
		height: 70px;
		text-align: center;

		>img{
			height: 41px;
			width: 95%;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			max-width: 72px;
		}
	}

	&-info{
		float: left;
		width: 72%;
		position: relative;
		height: 70px;
		padding: 7.5px 5px;

		>div{
			display: inline-block;
			vertical-align: middle;
			>h3{
				font-size: @fontSizeSmall;
				line-height: 1.1em;
				margin-right: 26px;
				cursor: pointer;
				margin-bottom: -5px;
			}

			>a{
				font-size: @fontSizeExtraSmall;
				color: @colorRed;
			}
		}
	}

	//Icon Remove Top
	&-IconRemove{
		display: block;
		position: absolute;
		top:0;
		right: 0;
		margin: 5px;
		padding: 0;
	}

	&-duration{
		display: block;
		position: absolute;
		bottom:0;
		right: 0;
		margin-right: 5px;
		font-size: @fontSizeExtraSmall;
	}
}

.ContainerVideoItemsPlaylist--colorBorderVideoItemPlayliste{
	.HoverEfectVideoItemPlaylist();
}
/*----------FIN Columna 1: Contenedor con la lista de reproduccion----------*/



/*----------Columna 2: Contenedor con contenido variable (busquedas, listas, perfil)----------*/
.ContainerViews{
	padding: 10px;
	overflow-y: auto;	
}
/*----------FIN Columna 2: Contenedor con contenido variable (busquedas, listas, perfil)----------*/



/*----------Contenedor con el contenido de una busqueda----------*/
.ContainerSearchsContent{

	&-form{
		>form{
			>div{
				>input{
					float: left;
					width: 80% !important; //Voleo de rula
					.border-radius(0);
				}

				>button{
					float: right;
					width: 20%;
					text-align: center;
					padding: 6px;
					.border-radius(0);
					background-color: @colorLightBlue;
					border: 1px solid @colorLightBlue;
				}
			}
		}
	}

	&-results{
		margin: 0 !important; //Voleo de rula	
		.FilaVideos();

		&-item{
			.ItemVideo();
		}
	}
}

.ResponseMessageSearch{
	padding: 5px;
}
/*----------FIN Contenedor con el contenido de una busqueda----------*/



/*----------Contenedor con el contenido de las listas de reproduccion de un usuario----------*/
.ContainerContentUserLists{

	&-header{
		margin: 0 !important; //Voleo de rula
		>.large-6{
			padding: 0;
		}
	}

	&-videos{
		margin: 0 !important; //Voleo de rula	
		&-row{
			.FilaVideos();
			&-item{
				.ItemVideo();
				>a{
					//Button Add Top
					&:first-child{
						display: block;
						padding: 0;
						background-color: inherit;
						top: 0;
						right: 0;
						margin: 5px;
						position: absolute;
					}
					//Button Remove Top
					&:nth-child(3){
						display: block;
						padding: 0;
						background-color: inherit;
						top: 25px;
						right: 0;
						margin: 5px;
						position: absolute;
						&:hover{
							.opacity(0.5);
						}
					}
				}
			}
		}
	}
}
/*----------FIN Contenedor con el contenido de las listas de reproduccion de un usuario----------*/


/*----------Video que se esta reproduciendo actualmente----------*/
.ContainerItemVideoLista--active{
	.HoverEfectVideoItemPlaylist();
}
/*----------FIN Video que se esta reproduciendo actualmente----------*/



/*----------Estilo para el login----------*/
.ContainerLogin{
	background-color: #1C1C1C;
	padding: 15px;
}

.ContentLogin{
	width: 40%;
	max-width: 500px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #1A1A1A;
	border-top:10px solid @colorRed; 
	border-bottom:10px solid @colorRed; 
	.box-shadow(0 0 4px 1px #555);

	&-title{
		text-align: center;
		font-size: @fontSizeExtraLarge;
		margin: 10px 0;
		color:@colorLight;
	}

	>form{
		.form-group{
			margin: 0;
			margin-bottom: 10px;

			>label{
				color:@colorLight;
			}

			&:last-child{
				text-align: center;
				
				>button{
					display: inline-block;
				}
			}
		}
	}
}
/*----------FIN Estilo para el login----------*/