/*----------Media-queries internet----------*/

//horizontal(landscape) vertical(portrait)

/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

// /* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen 
and (max-width : 320px) {

}

// /* iPads (portrait & landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

// /* iPads (portrait) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Ordenadores de sobremesa y portátiles */
@media only screen 
and (min-width : 1224px) {

}

// /* Pantallas grandes */
@media only screen 
and (min-width : 1824px) {

}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}
/*----------FIN Media-queries internet----------*/




/*----------Media-queries propios----------*/

/*----------Media-queries resultados de los videos----------*/

//Pantalla muy pequeñas:
//Los videos de los resultados son del 100%
@media screen and (min-width : 200px) and (max-width : 339px)
{
	.ContainerSearchsContent-results{
		>div{
			width: 100%;
		}
	}

	.ContainerTitleApp{
		>a{
			>img{
				width: 100%;
			}
		}
	}

	.ContainerVideoPlayer {
		&-title{
			font-size: @fontSizeBase;
		}
	}

	.ContentLogin{
		width: 100%;
	}
}

//Pantalla pequeñas:
//Los videos de los resultados son del 100% y su altura aumenta
@media screen and (min-width : 340px) and (max-width : 399px)
{
	.ContentLogin{
		width: 100%;
	}
}

//Pantallas medianas:
@media screen and (min-width : 400px) and (max-width : 639px)
{
	.ContentLogin{
		width: 80%;
	}
}

//Pantallas medianas:
//Cada fila de resultados muestra de a 3 videos
@media screen and (min-width : 640px) and (max-width : 767px)
{
	.ContainerSearchsContent-results-item{
		width: 33%;
	}
}
/*----------FIN Media-queries resultados de los videos----------*/



/*----------Media-queries lista de reproduccion----------*/

//Pantallas grandes
//Lista de reproduccion con 2 columnas (Videoplayer y playlist)
@media screen and (min-width : 768px) and (max-width : 990px)
{
	.ContainerVideoPlayer{
		padding-right: 5px;
		width: 60%;
		height: 300px;

		&-title{
			.border-radius(0);
			font-size: @fontSizeMedium;
			height: 36px;
			padding: 10px;
		}

		&-controls{
			height: 36px;
		}
	}

	#ContainerVideoPlayer-jwplayer{
		height: 228px;
	}

	.ContainerVideoItemsPlaylist{
		width: 40%;
		height: 300px;
	}

	.ContainerVideoItemPlaylist{
		&-number{
			>p{
				font-size: @fontSizeBase;
			}
		}

		&-picture{
			padding: 5px;

			>img{
				width: 95%;
			}
		}

		&-info{
			padding: 5px;

			>div{
				>a{
					font-size:0.65em;
				}

				>h3{
					font-size:0.70em;
				}
			}
		}

		&-duration{
			font-size:0.65em;
		}
	}
}

//Pantallas grandes
//Media querie para los estilos del height 100%. Solo aplica para pantallas grandes
@media screen and (min-width : 992px)
{
	.ContainerGlobal{
		height: 100%;
	}

	.ContainerHeader{
		height: 5%;
	}

	.ContainerContent{
		height: 90%;

		>section{
			height: 100%;
		}
	}

	.ContainerVideoPlayer{
		height: 60%;

		&-title{
			height: 12%;
		}

		&-controls{
			height: 12%;
		}
	}

	#ContainerVideoPlayer-jwplayer{
		height: 76%;
	}

	.ContainerVideoItems{
		height: 38%;
	}
}

//Pantallas pequeñas
//Reproductor para pantallas pequeñas
@media screen and (min-width : 200px) and (max-width : 449px)
{
	#ContainerVideoPlayer-jwplayer{	
		height: 220px;

		>div{
			width: 100%;
		}
	}

	.ContainerVideoItemPlaylist{
		&-info{
			>div{
				>a{
					font-size:0.65em;
				}

				>h3{
					font-size:0.70em;
				}
			}
		}

		&-duration{
			font-size:0.65em;
		}
	}
}

//Pantallas medianas
//Pone el reproductor de un ancho del 60%. Pero pone la lista de reproduccion abajo
@media screen and (min-width : 450px) and (max-width : 767px)
{
	#ContainerVideoPlayer-jwplayer{	
		height: 220px;

		>div{
			width: 60%;
			display: block;
			margin: 0 auto;
		}
	}
}

/*----------FIN Media-queries lista de reproduccion----------*/

/*----------FIN Media-queries propios----------*/
