<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>BlueTUBE</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="img/favicon.png">
</head>

<body data-ng-app="VideoPlayerApp">
    <div class="ContainerGlobal container">
        <header class="ContainerHeader row">
            <div class="ContainerTitleApp col-xs-8 col-sm-8 col-md-6 col-lg-3">
                <a href="javascript:void(0)" onclick="alertSizeBrowser()"><img src="img/title-app.png" alt="BlueTUBE" /></a> 
            </div>

            <div class="ContainerUserMenuDropdown col-xs-4 col-sm-4 col-md-6 col-lg-3 col-lg-offset-6">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a href="javascript:void(0)" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="img/avatar.png"/>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="">
                            <li role="presentation">
                                <a href="javascript:void(0)"><i class="IconProfile"></i> My Profile</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a href="javascript:void(0)"><i class="IconLists"></i> My Lists</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a href="javascript:void(0)"><i class="IconLogout"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul> 
            </div>
        </header>

        <div class="row ContainerContent">
            <section class="ContainerPlaylist col-xs-12 col-sm-12 col-md-4 col-lg-4" data-ng-controller="PlaylistController">
                <div class="ContainerVideoPlayer col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <h2 class="ContainerVideoPlayer-title" id="numberVideoPlayList">Current Playlist {{factoryPlaylist.sizePlaylist}}</h2>
                    <div id="ContainerVideoPlayer-jwplayer">
                        <div id="VideoPlayer"></div>
                    </div>
                    <div class="ContainerVideoPlayer-controls">
                        <a href="javascript:void(0)" class="IconPrev" data-ng-click="prevVideo()"><span></span></a> 
                        <a href="javascript:void(0)" class="IconNext" data-ng-click="nextVideo()"><span></span></a> 
                        <a href="javascript:void(0)" class="IconCleanList" data-ng-click="cleanPlaylist()"><span></span></a> 
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="ContainerVideoItemsPlaylist col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <div id="DivScrollPlayList">
                        <div class="ContainerVideoItemPlaylist" data-ng-repeat="item in globalCurrentPlaylist.items" data-ng-click="playVideo($index)">
                            <div class='overflow'>
                                <div class="ContainerVideoItemPlaylist-number">
                                    <p>{{$index + 1}}</p>
                                    <span class="vertical-align"></span>
                                </div>
                                <div class="ContainerVideoItemPlaylist-picture">
                                    <img src="{{item.picture_url}}" alt="imagen-preview">
                                    <span class="vertical-align"></span>
                                </div>
                                <article class="ContainerVideoItemPlaylist-info">
                                    <div>
                                        <h3 title="{{item.complete_title}}">{{item.short_title}}</h3>
                                        <a href="javascript:void(0)">{{item.channel_name}}</a>
                                    </div>
                                    <span class="vertical-align"></span>
                                </article>
                                <a class="ContainerVideoItemPlaylist-IconRemove" href="javascript:void(0)" data-ng-click="removeVideoFromPlaylist($index)">
                                    <span class="IconRemove"></span>
                                </a>
                                <p class="ContainerVideoItemPlaylist-duration">{{item.duration}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ContainerViews col-xs-12 col-sm-12 col-md-8 col-lg-8" data-ng-view>
            </section>
        </div>
    </div>

    <div class="modal fade" id="modalLists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add video to playlist</h4>
                </div>
                <div class="modal-body">
                    <label for="">Choose the playlist</label>
                    <select name="" id="">
                        <option value="">List 1</option>
                        <option value="">List 2</option>
                        <option value="">List 3</option>
                        <option value="">List 4</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" >Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/libraries/jquery-1.11.1.min.js"></script>
    <script src="js/libraries/angular.min.js"></script>
    <script src="js/libraries/angular-route.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/libraries/jquery.slimscroll.min.js"></script>
    <script src="js/libraries/jwplayer.min.js"></script>
    <script src="http://jwpsrv.com/library/agemfEBtEeSqECIACtqXBA.js"></script>

    <script src="js/config.js"></script>

    <script src="js/controllers/home/searchs-controller.js"></script>
    <script src="js/controllers/home/playlist-controller.js"></script>

    <script src="js/angular-app-config.js"></script>

    <!-- <script src="https://apis.google.com/js/client.js?onload=initYoutubeApi"></script> -->

</body>
</html>