<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <title>BlueTUBE</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="img/favicon.png">
    
</head>

<body data-ng-app="VideoPlayerApp">

    <div class="ContainerGlobal container" data-ng-controller="ControladorFormularioBusquedas">
        <header class="ContainerHeader row">
            <div class="ContainerTitleApp col-xs-8 col-sm-8 col-md-6 col-lg-3">
                <a href="#" onclick="alertSizeBrowser()"><img src="img/title-app.png" alt="BlueTUBE" /></a> 
            </div>

            <div class="ContainerUserMenuDropdown col-xs-4 col-sm-4 col-md-6 col-lg-3 col-lg-offset-6">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="img/avatar.png"  />
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="">
                            <li role="presentation">
                                <a href="#"><i class="IconProfile"></i> My Profile</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a href="#"><i class="IconLists"></i> My Lists</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a href="#"><i class="IconLogout"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul> 
            </div>
        </header>

        <div class="row ContainerContent">
            <section class="ContainerPlaylist col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="ContainerReproductor col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <h2 class="ContainerReproductor-title" id="numberVideoPlayList">Current Playlist ({{sizeListaReproduccion}})</h2>
                    <div id="ContainerReproductor-jwplayer">
                        <div id="VideoPlayer"></div>
                    </div>
                    <div class="ContainerReproductor-controls">
                        <a href="#" class="IconPrev" data-ng-click="verAnteriorVideo()"><span></span></a> 
                        <a href="#" class="IconNext" data-ng-click="verSiguienteVideo()"><span></span></a> 
                        <a href="#" class="IconCleanList" data-ng-click="limpiarLista()"><span></span></a> 
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="ContainerItemsVideo col-xs-12 col-sm-6 col-md-12 col-lg-12">
                    <div id="inner-content-div">
                        <div class="ContainerItemVideoLista" data-ng-repeat="item in listaReproduccion.items">
                            <div class="ContainerItemVideoLista-numero">
                                <div class="contenedor-tabla">
                                    <div class="outer-tabla">
                                        <div class="inner-celda">
                                            <p>{{$index + 1}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ContainerItemVideoLista-imagen">
                                <img src="{{item.imagen}}" alt="imagen-preview">
                                <span class="vertical-align"></span>
                            </div>
                            <article class="ContainerItemVideoLista-info">
                                <a href="#" data-ng-click="borrarVideoDeListaDeReproduccion($index)">
                                    <span class="IconRemove"></span>
                                </a>
                                <h3 title="{{item.titulo_completo}}" data-ng-click="reproducirVideo($index)">{{item.titulo_recortado}}</h3>
                                <a href="http://www.youtube.com/channel/{{item.id_canal}}" target="_blank">{{item.nombre_canal}}</a>
                                <p>{{item.duracion}}</p>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ContainerContentAjax col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="ContainerContentSearchs" >
                    <div class="ContainerContentSearchs-form row" >
                        <form class="form-inline" role="form" method="post" onsubmit="event.preventDefault()">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search Here" data-ng-model="inputBusqueda" value="messi">
                                <button type="submit" id="buttonBuscar" class="btn btn-primary" data-ng-click="hacerBusqueda()"  >Search</button>
                            </div>
                        </form>
                    </div>

                    <div class="ContainerContentSearchs-results row">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" data-ng-repeat="item in listaResultados.items" data-ng-init="indice=$index;">
                            <h3 class="ContainerContentSearchs-results-item-title" title="{{item.titulo_completo}}">{{item.titulo_recortado}}</h3>
                            <article class="ContainerContentSearchs-results-item" style="background-image: url('{{item.imagen}}')">
                                <ul class="nav nav-pills UlMenuAdd">
                                    <li class="dropdown">
                                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="IconAdd"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="">
                                            <li><a href="#" 
                                             data-ng-click="addVideoAListaDeReproduccion($index)" >Add To Current List</a></li>
                                             <li role="presentation" class="divider"></li>
                                             <li><a href="#" onclick="showModalLists()">Add To List...</a></li>
                                         </ul>
                                     </li>
                                 </ul> 
                                 <div class="ContainerContentSearchs-results-item-info">
                                    <a href="http://www.youtube.com/channel/{{item.id_canal}}" target="_blank">{{item.nombre_canal}}</a>
                                    <p>{{item.duracion}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="modal fade" id="modalLists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add video to playlist</h4>
                </div>
                <div class="modal-body">
                    <label for="">Choose the playlist</label>
                    <select name="" id="">
                        <option value="">List 1</option>
                        <option value="">List 2</option>
                        <option value="">List 3</option>
                        <option value="">List 4</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="JS-Button-Agregar-Video-A-Lista">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/libraries/jquery-1.11.1.min.js"></script>
    <script src="js/libraries/angular.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/libraries/jquery.slimscroll.min.js"></script>
    <script src="js/libraries/jwplayer.min.js"></script>
    <script src="http://jwpsrv.com/library/agemfEBtEeSqECIACtqXBA.js"></script>

    <script src="js/config.js"></script>

    <script src="js/angular-app-config.js"></script>

    <!-- <script src="https://apis.google.com/js/client.js?onload=init"></script> -->
</body>
</html>