<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <title>BlueTUBE - Login</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="img/favicon.png">
</head>

<body data-ng-app="MyApp">
    <div class="ContainerGlobal container">
        <header class="ContainerHeader row">
            <div class="ContainerTitleApp col-xs-8 col-sm-8 col-md-6 col-lg-3">
                <a href="#" onclick="alertSizeBrowser()"><img src="img/title-app.png" alt="BlueTUBE" /></a> 
            </div>
        </header>

        <div class="row ContainerContent">
            <section class="ContainerLogin col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="contenedor-tabla">
                    <div class="outer-tabla">
                        <div class="inner-celda">
                            <div class="ContentLogin" data-ng-controller="FormularioLogin">
                                <h1 class="ContentLogin-title">SIGN IN</h1>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Email" data-ng-model="username">
                                        </div>
                                    </div>
                                    <div style="text-align: center; margin: 15px 0; color: #fff;">
                                        {{username}}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg" data-ng-click="functionPrueba()">Sign in
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>    
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tinyscrollbar.min.js"></script>
    <script src="js/config.js"></script>
</body>
</html>