<h1>My Lists</h1>
<!-- <video-item></video-item> -->
<!-- <div video-item></div> -->
<!-- <div video-item></div> -->
<!-- <div class='overflow' data-ng-click="playVideo($index)">
	<div class="ContainerVideoItemPlaylist-number">
		<p>{{$index + 1}}</p>
		<span class="vertical-align"></span>
	</div>
	<div class="ContainerVideoItemPlaylist-picture">
		<img src="{{item.picture_url}}" alt="imagen-preview">
		<span class="vertical-align"></span>
	</div>
	<article class="ContainerVideoItemPlaylist-info">
		<div>
			<h3 title="{{item.complete_title}}">{{item.short_title}}</h3>
			<a href="javascript:void(0)">{{item.channel_name}}</a>
		</div>
		<span class="vertical-align"></span>
	</article>
	<p class="ContainerVideoItemPlaylist-duration">{{item.duration}}</p>
</div>
<a class="ContainerVideoItemPlaylist-IconRemove" href="javascript:void(0)" data-ng-click="removeVideoFromPlaylist($index)">
	<span class="IconRemove"></span>
</a> -->