<div class="ContainerContentSearchs" >
    <div class="ContainerContentSearchs-form row" >
        <form class="form-inline" role="form" method="post" onsubmit="event.preventDefault()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Here" data-ng-model="inputBusqueda" value="messi">
                <button type="submit" class="btn btn-primary" data-ng-click="hacerBusqueda()"  >Search</button>
            </div>
        </form>
    </div>

    <div class="ContainerContentSearchs-results row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" data-ng-repeat="item in listaResultados.items" data-ng-init="indice=$index;">
            <h3 class="ContainerContentSearchs-results-item-title" title="{{item.titulo_completo}}">{{item.titulo_recortado}}</h3>
            <article class="ContainerContentSearchs-results-item" style="background-image: url('{{item.imagen}}')">
                <ul class="nav nav-pills UlMenuAdd">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="IconAdd"></span>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="">
                            <li><a href="#" 
                               data-ng-click="anadirVideoAListaDeReproduccion($index)" >Add To Current List</a></li>
                               <li role="presentation" class="divider"></li>
                               <li><a href="#" onclick="showModalLists()">Add To List...</a></li>
                           </ul>
                       </li>
                   </ul> 
                   <div class="ContainerContentSearchs-results-item-info">
                    <a href="http://www.youtube.com/channel/{{item.id_canal}}" target="_blank">{{item.nombre_canal}}</a>
                    <p>{{item.duracion}}</p>
                </div>
            </article>
        </div>
    </div>
</div>



<div class="modal fade" id="modalLists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add video to playlist</h4>
            </div>
            <div class="modal-body">
                <label for="">Choose the playlist</label>
                <select name="" id="">
                    <option value="">List 1</option>
                    <option value="">List 2</option>
                    <option value="">List 3</option>
                    <option value="">List 4</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="JS-Button-Agregar-Video-A-Lista">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

